$--color-primary: #24292e; // 改变主题色变量
$--font-path: '~element-ui/lib/theme-chalk/fonts'; // 改变 icon 字体路径变量，必需

// sidebar
$menuText: #bfcbd9;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
}
